<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HideAndSeek</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <link rel="icon" href="data:;base64,=">
    <style>
        .containerApp{
            display: flex;
            margin-left: 100px;
        }
        .gameItem {
            display: inline-block;
            width: 100px;
            height: 100px;
            line-height: 100px;
            border: 1px solid black;
            text-align: center;
        }
        .map{
            width: 510px;
            height: 510px;
        }
        .wall {
            background-color: #009688;
        }
        .road {
            color: white;
        }

        .player {
        }
        .control {
            margin-left: 650px;
        }
        .gameButton {
            background-color: #efefef;
        }

        .space {
            background-color: white;
            color: white;
            border: 0;
            margin: 1px;
        }

        .clickButton {
            background: #dddddd;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="layui-card" style="width: 500px; margin-left: 50px; margin-top: 10px;">
            <div class="layui-card-header">玩家ID: <span>{{ playerId }}</span> &nbsp;&nbsp;&nbsp; <span>当前在线人数:</span> {{ onlinePlayers }} </div>
            <div class="layui-card-header" v-if="playerType"><b>角色：</b>{{ playerType == 'hide' ? '躲藏者' : '追赶者' }}</div>
            <div class="layui-card-header" v-if="timeLimit"><b>剩余时间：</b>{{ timeLimit }}秒</div>
            <div class="layui-card-body">
                <button type="button" class="layui-btn" @click="matchPlayer">匹配</button>
            </div>
        </div>
        <div v-if="matching" style="display: inline">
            匹配中.....
        </div>
        <br /><br />

        <div v-if="mapData" class="containerApp">
            <div class="container" style="width: 300px; margin-right: 50px;margin-top: 190px">
                <div class="layui-row">
                    <div class="layui-col-md4 layui-col-md-offset4">
                        <button data-direction="up" @mousedown="clickDirect('up')" class="layui-btn"><i class="layui-icon">&#xe619;</i></button>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md4">
                        <button @mousedown="clickDirect('left')" data-direction="left" class="layui-btn"><i class="layui-icon">&#xe603;</i></button>
                    </div>
                    <div class="layui-col-md4 layui-col-md-offset4">
                        <button @mousedown="clickDirect('right')" data-direction="right" class="layui-btn"><i class="layui-icon">&#xe602;</i></button>
                    </div>
                </div>
                <div class="layui-row">
                    <div class="layui-col-md4 layui-col-md-offset4">
                        <button @mousedown="clickDirect('down')" data-direction="down" class="layui-btn"><i class="layui-icon">&#xe61a;</i></button>
                    </div>
                </div>
            </div>
            <div class="map">
                <template v-for="column in mapData">
                    <div>
                        <template v-for="item in column">
                            <div v-if="item==playerId" class="gameItem player">{{playerId}}</div>
                            <div v-else-if="item==0" class="gameItem wall">墙</div>
                            <div v-else-if="item==1" class="gameItem road">路</div>
                            <div v-else class="gameItem player">{{item}}</div>
                        </template>
                    </div>
                </template>
            </div>
        </div>

    </div>
    <script src="https://cdn.bootcss.com/axios/0.19.0/axios.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue',
                websock: null,
                playerId: '',
                roomId: null,
                matching: false,
                mapData: null,
                playerType: '',
                timeLimit: null,
                timerId: null,
                onlinePlayers: 0,
            },
            created(){
                this.initPlayerId();
                this.initWebSocket();
                // 在线人数
                //this.getServerInfo();
                this.initDirectionKey();
            },
            destroyed() {
                this.websock.close();
            },
            methods: {
                getServerInfo(){
                    axios.get('http://localhost:8502?action=get_online_player')
                        .then(response => (this.onlinePlayers = response.data.online_player));
                },
                initPlayerId(){
                    this.playerId = 'player_' + Math.round(Math.random() * 1000);
                },
                initDirectionKey(){
                    var that = this;
                    document.onkeydown = function () {
                        if(event.keyCode === 38 ) {
                            that.clickDirect('up');
                        }else if(event.keyCode === 37 ) {
                            that.clickDirect('left');
                        }else if(event.keyCode === 39 ) {
                            that.clickDirect('right');
                        }else if(event.keyCode === 40 ) {
                            that.clickDirect('down');
                        }
                    }
                },
                clickDirect(direction){
                    let actions = {"code": 602, 'direction': direction};
                    this.websocketonsend(actions);
                    this.addClickClass(direction);
                },
                hasClass(ele, cls){
                    return ele.className.match(new RegExp("(\\s|^)" + cls + "(\\s|$)"));
                },
                addClass(ele, cls){
                    if (!this.hasClass(ele, cls)) ele.className += " " + cls;
                },
                removeClass(ele, cls)
                {
                    if (this.hasClass(ele, cls)) {
                        let reg = new RegExp("(\\s|^)" + cls + "(\\s|$)");
                        ele.className = ele.className.replace(reg, "");
                    }
                },
                addClickClass(direction){
                    let divs = document.getElementsByClassName('gameButton');
                    for (let div of divs) {
                        if (div.dataset.direction === direction) {
                            this.addClass(div, 'clickButton');
                        }
                    }
                },
                removeClickClass(){
                    let divs = document.getElementsByClassName('gameButton')
                    for (let div of divs) {
                        this.removeClass(div, 'clickButton');
                    }
                },
                matchPlayer(){
                    let actions = {"code":600};
                    this.matching = true;
                    this.websocketonsend(actions);
                },
                startRoom(){
                    let actions = {"code": 601, 'room_id': this.roomId, 'player_type': this.playerType};
                    this.websocketonsend(actions);
                    this.matching = false;
                },
                initWebSocket(){
                    const wsurl = 'ws://192.168.12.111:8501?player_id=' + this.playerId;
                    this.websock = new WebSocket(wsurl);
                    this.websock.onmessage = this.websocketonmessage;
                    this.websock.onopen = this.websocketonopen;
                    this.websock.onerror = this.websocketonerror;
                    this.websock.onclose = this.websocketonclose;
                },
                websocketonopen(){
                },
                websocketonmessage(e){
                    let message = JSON.parse(e.data);
                    let serverData = message.data;
                    switch (message.code) {
                        case 1001:
                            // 这里可以接收到玩家时躲藏者还是追赶者
                            this.roomId = serverData.room_id;
                            this.playerType = serverData.player_type;
                            this.startRoom();
                            break;
                        case 1004:
                            this.mapData = serverData.map_data;
                            if (!this.timerId) {
                                this.timeLimit = serverData.time_limit;
                                var that = this;
                                this.timerId = setInterval(function () {
                                    that.timeLimit--
                                }, 1000);
                            }
                            break;
                        case 1005:
                            if (this.playerId == serverData.winner) {
                                alert(this.playerId + "你赢了");
                            } else {
                                alert(this.playerId + "你输了");
                            }
                            break;
                        case 9000:
                            this.onlinePlayers = serverData.onlinePlayers;
                            break;

                    }
                },
                websocketonsend(Data){
                    this.websock.send(JSON.stringify(Data))
                },
                websocketonerror(){
                    this.initWebSocket();
                },
                websocketonclose(e){
                    if (e.code == 1000) {
                        alert(e.reason);
                    }
                }
            }
        })
    </script>
</body>
</html>